# Exclude macOS data services file
.DS_Store

# Exclude data and unused source folders
stac
data
_old
additional
old_submissions

# Exclude jupyter notebook checkpoints
.ipynp*

# Exclude generated dirs
__pycache__
.vscode

# Exclude model files
*.h5